  .refTag {
    text-decoration: underline;

  }

  .collobarationheader {
    border: 1px;
    background: orange;
  }

  .prevcase {
    float: left;
    padding-left: 20px;
  }

  /* .tableRowStyle {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  } */

  .no-arrow::after {
    display: none;
  }

  .claimTable-container{
    overflow: auto;
  }
  .claimTable-header{
    text-align: center;
    background-color: red;
    width: 100%;
    font-size: 16px;
    color: white;
    margin: 15px 0;
  }
  .review-header{
    text-align: center;
    background-color: #a3a3a3;
    width: 100%;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 15px 0;
  }

#ClaimInformationTable th,#ProviderInformationTable th{
    width: 150px;
}
/* ClaimSearch.css */

.custom-modal .modal-header {
  background-color: #007bff; 
  color: white;
  /* border-bottom: 50px #007bff; 
  padding: 1rem;  */
  text-align: center; 
}


.custom-modal .modal-title {
  width: 100%; 
}