  .refTag {
    text-decoration: underline;

  }

  .collobarationheader {
    border: 1px;
    background: orange;
  }

  .prevcase {
    float: left;
    padding-left: 20px;
  }

  /* .tableRowStyle {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  } */

  .no-arrow::after {
    display: none;
  }

  .claimTable-container{
    overflow: auto;
  }

#ClaimInformationTable th,#ProviderInformationTable th{
    width: 140px;
}
/* ClaimSearch.css */

.custom-modal .modal-header {
  background-color: #007bff; 
  color: white;
  /* border-bottom: 50px #007bff; 
  padding: 1rem;  */
  text-align: center; 
}


.custom-modal .modal-title {
  width: 100%; 
}
