.sub-title {
  background: #eee;
  padding: 2px;
 
}
.small-input {
  height: 30px !important; /* Adjust height */
  padding: 5px 10px !important; /* Reduce padding */
  font-size: 14px !important; /* Adjust font size */
}


.btn-override:hover {
  color: white;
    margin-top: 5px;
}

.issue-button {
  
  color: white !important;
  background-color: var(--primary);
  border-color: var(--primary);
  border: 1px solid var(--primary) ;
  font-family: 'Open Sans', sans-serif;
  width: 300px;
  height: 35px;
  border-radius: 4px;
  font-size: var(--font-size-medium);
}