body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white-shade);
}

code {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif,
    monospace;
}

a{
  color: var(--primary);
  text-decoration: none;
}

a:hover{
    text-decoration: none!important;
}

table td {
  font-weight: normal;
  }
  thead > tr > th {
    background-color: #f1f3f4 !important;
  }

:root {
  --primary: #1362fc;
  --secondary: #FFD700;
  --primary-hover: #034bd9;
  --primary-light: #aac7fe;
  --white-shade: #FFFFFF;
  --primary-dark: #012875;
  --font-family-base: Roboto,sans-serif;
  --font-family-title: Roboto,sans-serif;
  --title: #333;
  --text: #292f33;
  --text-gray: #E8E8E8;
  --font-size-small-1: 13px;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --font-size-large-1: 20px;
  --font-size-large-2: 22px;
  --font-size-extra-large: 24px;
}