.loginPage{
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-image: url(./wave.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.newButton{
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    min-height: 32px;
    height: auto;
    min-width: 72px;
    padding: 3.5px 14px 4.5px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.newButton:hover{
    background-color: #0d66d0;
    border-color: #0d66d0;
    color: #fff;
}

.loginInputs{
    border-color: #eaeaea;
    height: 28px;
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: none;
    font-size: var(--font-size-medium);
    line-height: 1.15;
    color: #505050;
    background-color: rgba(0,0,0,0);
    border-radius: 0;
    border-width: 0 0 1px;
    padding-left: 0;
    padding-right: 0;
    resize: none;
    overflow-y: hidden;
    min-width: 48px;
    width: 100%;
    outline: 0;
    margin: 0;
    text-indent: 0;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0 1px 0 #eaeaea;
}

.loginInputs:focus{
    border-color: #378ef0;
    -webkit-box-shadow: 0 1px 0 #378ef0;
    box-shadow: 0 1px 0 #378ef0;
}

#headerImage{
    width: 120px;
    height: auto !important;
}

.homeDescriptionText{
    font-weight: 500;
    font-size: var(--font-size-large);
}
.homeTaglineText{
    font-weight: 600;
    font-size: var(--font-size-extra-large);
    color: var(--primary);
}

#headerLabel{
    font-size: var(--font-size-large);
    text-align: left !important;
    font-family: 'Open Sans', sans-serif; 
    font-weight: bold;
    color: #212529
}

#loginPageImage{
    margin: 0px auto;
}

#loginDefinition{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size-extra-large);;
    font-weight: bold;
    background-color: var(--primary);
    color: #ffff;
    font-family: 'Open Sans', sans-serif;
    margin-right: 50px;
    margin-top: 0px;
    height: 60px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.PortalLoginLabel{
    font-weight: bold;
    font-family: 'Open Sans', sans-serif; 
}

.loginPageLabel{
    font-family: 'Open Sans', sans-serif; 
    display: inline-block;
    word-break: break-word;
    font-weight: Bold;
    font-style: normal;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff; 
    margin-left: 20px;
}

/* #loginField{
    margin-left: 16px;
    font-size: 13px;
    border-radius: 4px !important;
    text-align: left !important;
    background: rgb(255 255 255 / 0%) !important;
    border-color: #ccc;
    font-family: 'Open Sans', sans-serif; 
    font-weight: bold;
    width: 300px;
} */

/* #passwordField{
    margin-left: 20px;
    font-size: 13px;
    border-radius: 4px !important;
    text-align: left !important;
    background: rgb(255 255 255 / 0%) !important;
    border-color: #ccc;
    font-family: 'Open Sans', sans-serif; 
    font-weight: bold;
    width: 300px;
} */

.loginPageButton{
    width: 130px;
    background-color: #1a73e9;
    color: #fff;
    height: 30px;
    border-color: #fff;
    border-radius: 5px;
    margin-left: 60px;
    font-family: 'Open Sans', sans-serif;
}

.loginButtonContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 20px;
    margin-top: 20px;
    justify-content: center;
}

.loginFieldContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px auto;
    max-width: 80%;
}

.loginSection{
    margin-bottom: 20px;
    min-width: 40%;
    max-width: 600px;
    padding-right: 0;
    padding-left: 0;
}

.loginPageBottomButton{
    color: white !important;
    background-color: var(--primary);
    border-color: var(--primary);
    border: 1px solid var(--primary) ;
    font-family: 'Open Sans', sans-serif;
    width: 130px;
    height: 35px;
    border-radius: 15px;
    font-size: var(--font-size-medium);
}

.button:hover{
    background-color: var(--primary-hover);
}

.button:disabled{
    opacity: 0.6;
}

#loginPageBottomLabel{
    text-align: center;
    font-size: var(--font-size-small);
    font-weight: inherit;
    font-style: normal;
    font-family: 'Open Sans', sans-serif; 
    padding-top: 20px !important;
    max-width: 80%;
}

.loginPageFooter{
    margin-top: 300px; 
    text-align: center;
    font-weight: bold;
    font-size: var(--font-size-small);
    font-family: 'Open Sans', sans-serif; 
}


/* @media screen and (max-width: 1099px) and (orientation:portrait){
	
}
@media screen and (max-width: 1099px) and (orientation:landscape){
	
} */

@media only screen and (min-width: 768px) and (max-width: 1099px){
	.loginButtonContainer{
        justify-content: flex-start;
    }
}

/* @media only screen and (max-width: 768px){

} */